{% extends "base.html" %}
{% block title %}Lista de Imagenes{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}
{% block content %}
      <h1>Imagenes</h1>

      {% if True %}
          <table class="table">
              <thead>
                  <tr>
                      <th>Usuario</th>
                      <th>Nombre del archivo</th>
                      <th>Numero de pixeles Total</th>
                      <th>Tipo Transforacion</th>
                      <th>Numero de pixeles azules</th>
                      <th>Numero de pixeles verdes</th>
                      <th>Numero de pixeles rojos</th>
                      <th>Fecha</th>
                      <th class="text-end"></th>
                  </tr>
              </thead>
              <tbody>
                  {% for imagen in imagenes %}
                      <tr>
                          <td>{{ imagen.user_name }}</td>
                          <td>{{ imagen.nombre_archivo }}</td>
                          <td>{{ imagen.n_pixeles_total }}</td>
                          <td>{{ imagen.tipo_transformacion }}</td>
                          <td>{{ imagen.n_pixeles_azules }}</td>
                          <td>{{ imagen.n_pixeles_verdes }}</td>
                          <td>{{ imagen.n_pixeles_rojos }}</td>
                          <td>{{ imagen.fecha }}</td>
                          <td class="text-end">
                            <form action="{{ url_for('borrar', id=imagen.id) }}" method="post">
                              <button type="submit">Eliminar</button>
                            </form>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% else %}
          <p>No existen imagenes subidas.</p>
      {% endif %}
      <div class="d-flex justify-content-end">
        <a href="{{ url_for('crear_imagen_manualmente') }}" class="btn btn-success px-4 gap-3">Crear imagen manualmente</a>
      </div>
{% endblock %}